.table_component {
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
}
.ChargingCostSummary-title, .chart-title{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.table_component table {
    width: 100%;
    border-collapse: collapse;


}
.ChargingCostSummary-table{
    max-height: 350px;
    overflow-y: auto;
}

.table_component caption {
    caption-side: top;
    text-align: left;
}

.table_component th {
    background-color: #007bff;
    color: white;
}

.table_component td {
    border: 1px solid #dededf;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
}
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

